<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Company</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.full_name, edit_contact_path(contact) %></td>
        <td><%= link_to contact.company, edit_contact_path(contact) %></td>
        <td><%= link_to contact.phone, edit_contact_path(contact) %></td>
        <td><%= link_to contact.email, edit_contact_path(contact) %></td>
        <td><%= link_to 'Remove Contact', contact, method: :delete, data: { confirm: "Delete?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
