<p id="notice"><%= notice %></p>

<p>
  <h2>
    <%= @contact.full_name %>
    <%= @contact.last_name %>
  </h2>
  <%= link_to 'Edit', edit_contact_path %>
</p>

<p>
  <strong>Works in: </strong>
  <%= @contact.department.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>



<%= link_to 'Contacts', contacts_path %>
